*{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing:border-box;
}

body{
  color:#eee;
  background:#1e1e1e;
}

article{
  font-size:16px;
  padding: 10px 10px;
}

a{
  color:#809fff;
  text-decoration:none;
}

a:hover,a:active{
  text-decoration:underline;
}

blockquote{
  margin:10px 50px;
  padding-left:15px;
  border-left:3px solid #ccc;
}

img{
  max-width:100%;
  display:block;
  align-self:center;
  filter:grayscale(30%);
}

.menu{
  padding: 10px 10px;
  font-size:18px;
  font-weight:bold;
  text-align:left;
}

.menu li{
  display:inline-block;
  padding:0;
  padding-inline-end:15px;
}

.menu ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

#date{
  margin:-10px 0;
  font-size:14px;
  font-style:italic;
  font-weight:bold;
  color:#b0e0e6;
}

#desc{
  padding-bottom:35px;
}

footer {
  border-top:1px solid #809fff;
  color:#999;
}

.row{
  font-size:14px;
}

.row ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

.row:after{
  content:"";
  display:table;
  clear:both;
}

.column {
  padding: 10px 10px
}

.legal {
  font-size:12px;
}

@media screen and (max-width:600px){
  .column{
    width:100%;
  }
}
